# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List of Popular Languages used in Data Science 
+ List of Libraries used 
- Artihmetic expressions

Some of the popular languages that Data Scientists use are:
1. Phyton
2. Julia
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Matplotlib
3. NumPy

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply and then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [14]:
200//60

3

## Author 
Giulia Torres